@use "global";

.aboutProfile {
  position: relative;
  overflow: hidden;
  margin-top: 6rem;

  .container {
    padding: 0rem 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    min-width: 100vw;

    .background-overlay {
      opacity: 0.3;
      position: absolute;
      top: 0;
      z-index: -1;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  @media (max-width: 768px) {
    .container {
      padding: 0rem 2rem;
      flex-direction: column;
      min-height: 100vh;
      min-width: 100vw;
    }

    .desc {
      margin-left: 0;
      text-align: center;

      .title h2 {
        font-size: 3rem;
      }

      p {
        font-size: 1rem;
      }

      .explore {
        margin-top: 2rem;
      }
    }
  }

  @media (max-width: 480px) {
    .container {
      padding: 4rem 1rem 0rem 1rem;
    }

    .background-overlay {
      display: none;
    }

    .profileImg {
      max-height: 30vh;
    }

    .explore {
      padding: 0.5rem 1rem;
      position: absolute;
      top: 0%;
    }
  }
}

.desc {
  cursor: default;
  margin-left: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  flex-basis: 25rem;
  position: relative;
  text-align: center;

  .title h2 {
    cursor: default;
    font-size: 5rem;
    margin-bottom: 1rem;
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 1);
    transition: background-color 0.75s ease, color 0.75s ease;

    &:hover {
      color: rgb(116, 123, 182);
      transition: background-color 0.75s ease, color 0.75s ease;
    }
  }
}

.profileImg {
  flex: 1;
  flex-basis: 25rem;
  border-radius: 80%;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 1);
}

.profileImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.explore {
  margin-top: 4rem;
  .exploreCert {
    color: white;
  }
}
