@use "global";

.aboutProfile {
  position: relative;
  overflow: hidden;
  margin-top: 6rem;

  .container {
    padding: 0rem 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    min-width: 100vw;
    .background-overlay {
      opacity: 0.3;
      position: absolute;
      top: 0;
      z-index: -1;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.desc {
  cursor: default;
  margin-left: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  /* flex-basis has a higher priority than width or height (if set). 
  We usually set flex-basis to the minimum length we find acceptable 
  for an element. If we set it to 100% and at the same time have 
  flex-wrap set to wrap , we can force individual elements to take 
  up an entire line creating neat stacks of elements. */
  flex-basis: 25rem;

  /* We need to "Position: relative", So we can put another element 
    div on top of it as "Position: absolute" */
  position: relative;
  text-align: center;

  .title h2 {
    cursor: default;
    font-size: 5rem;
    margin-bottom: 1rem;
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 1);
    transition: background-color 0.75s ease, color 0.75s ease;

    &:hover {
      color: rgb(116, 123, 182);
      transition: background-color 0.75s ease, color 0.75s ease;
    }
  }
}

.profileImg {
  flex: 1;
  flex-basis: 25rem;
  border-radius: 80%;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 1);

  // &:hover img {
  //   transform: scale(1.2); /* Zoom in by 20% on hover */
  // }
}

.profileImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  // transition: transform 0.3s ease-in-out; /* Smooth zoom animation */
}

.explore {
  margin-top: 4rem;
  .exploreCert {
    color: white;
  }
}
