@use "global";

.games {
  min-height: 100vh;
  padding: 1rem 5rem;
  margin-top: 10rem;

  h2 {
    margin: 2rem 0rem 2rem 0rem;
    pointer-events: none;
  }

  .firstHeader {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    p {
      margin-left: 1rem;
    }
  }

  .game {
    min-height: 30vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
  }
}
